html {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: #cdd0cb;
}

.nav-bar {
    width: 100vw;
    background-color: #7c9473;
    padding: 1rem 0rem;
}

.profile {
    text-align: center;
    position: relative;
    left: 0;
}

.profile-picture {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 50%;
    background-image: url("./images/IMG_0291.JPG");
    background-position: center;
    background-size: cover;
    margin: 1rem auto;
}

.name {
    margin: 0 auto;
}

.nav-list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.nav-items {
    display: inline-block;
    margin: 0 1rem;
}